<!doctype html>
<html lang="en">
<head>
	

<!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
<meta charset="utf-8">
<title>Blue River Studios</title>
	<link href = "css/styles.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>

	


</head>

<body>
	
	
	<!-- PAGE HEADER -->
	
	<header>
		
	
		
		<div class="header-left">
			<br>
			
	<img src="images/logo.png" srcset = "images/logo1x.png 1x, images/logo2x.png 2x, images/logo3x.png 3x" alt="Cabot Cruises Logo">
		
		
		</div>
		
		
		<div class="header-right"> <!-- STYLE THIS! -->
			<a href="tel:1-801-222-3333">(801) 222-3333</a>
		
		</div>
	</header>
	
	<!-- PAGE NAV -->
	 
	<div class="navwrap">
    <div class="topnav" id="myTopnav">
       <a href="#" class="active">HOME</a>
       <a href="#">CRUISES</a>
       <a href="#">BOOK</a>
       <div class="dropdown">
          <button class="dropbtn">AGENTS
             &nbsp;	&darr;
          </button>
          <div class="dropdown-content">
             <a href="#">Julia Stevens</a>
             <a href="#">Steve Jobs</a>
          </div>
       </div>
       <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
       </a>
      <div class="search">
          <input type="search" name="search" id="search" placeholder="Search...">
          <button class="mySearch"><i class="fas fa-search fa-2x"></i></button>
       </div>
    </div>
 </div>
		
	<!-- MAIN CONTENT -->
	<main>
		<div class = "slider">
		
			<picture>
				<source srcset="images/slider1mobile.jpg" media="(max-width:600px)">
				<source srcset="images/slider1.jpg">
				<img srcset="images/slider1.jpg" alt="slider image">
			</picture>

			<picture>
				<source srcset="images/slider2mobile.jpg" media="(max-width:600px)">
				<source srcset="images/slider2.jpg">
				<img srcset="images/slider2.jpg" alt="slider image">
			</picture>

			<picture>
				<source srcset="images/slider3mobile.jpg" media="(max-width:600px)">
				<source srcset="images/slider3.jpg">
				<img srcset="images/slider3.jpg" alt="slider image">
			</picture>

			<picture>
				<source srcset="images/slider3mobile.jpg" media="(max-width:600px)">
				<source srcset="images/slider3.jpg">
				<img srcset="images/slider3.jpg" alt="slider image">
			</picture>

		</div>
		
		
		
		

		
		<div class="divider">
		<h1>MORE ABOUT US</h1>
		</div>
		
		<div class="aboutUs">
			
		<figure class="feature1">
		 <div class="featureDesc">
			<h2>Pets Allowed</h2>
		</div>
		<div class="date">
			<time datetime="2018-05-10 20:00">May 10, 2018</time>
		</div>
		</figure>

		<figure class="feature2">
			<div class="featureDesc">
			 <h2>Free Food</h2>
		 </div>
		 <div class="date">
			 <time datetime="2018-05-10 20:00">May 10, 2018</time>
		 </div>
		 </figure>

		 <figure class="feature3">
			<div class="featureDesc">
			 <h2>Lots of Gambling</h2>
		 </div>
		 <div class="date">
			 <time datetime="2018-05-10 20:00">May 10, 2018</time>
		 </div>
		 </figure>

		 <figure class="feature4">
			<div class="featureDesc">
			 <h2>Personal Cabins</h2>
		 </div>
		 <div class="date">
			 <time datetime="2018-05-10 20:00">May 10, 2018</time>
		 </div>
		 </figure>
		
		</div><!-- end aboutUs -->
		
		<br>
		<hr />
		
		
		
	</main>
	
	
	<!-- PAGE FOOTER -->
	<footer>
		<div class="info">
				<div class="contact">
						<h2>Contact Us</h2>
						<div class="address">
						<h3>Cabot Cruises</h3>
						<address>
							<a href="https://www.google.com/maps/place/American+Cruise+Lines/@40.5730684,-111.8974766,17z/data=!3m1!4b1!4m5!3m4!1s0x875287d0c186821d:0x5cf3b875483d8c03!8m2!3d40.5730684!4d-111.8952879">150 Civic Center Dr, Sandy, UT 84070</a>
						</address>
						<br>
						<h3>Phone:</h3>
						<a href="tel:18665771000">1-866-577-1000</a>
						<br><br>
						<h3>Hours of Operation:</h3>
						<p>Monday - Friday | 9am - 4pm</p>
						</div>
				</div>
				<div class="newsletter">
						<h2>Newsletter</h2>
						<p>Subscribe to our email list and stay up-to-date with our hottest offers and latest specials.</p>
						<input type="text"><br>
						<button class="custom">Subscribe</button>
				</div>
				<div class="cruiseInfo">
						<h2>Why Cabot Cruises</h2>
						<p>Cabot Cruises is a travel agency providing the best cruise deals on our online travel website. We can help you with all inclusive vacations including discounted cruises.</p>
						<br>
						<p>We do not sell travel to residents of Hawaii and Florida because those states already live in paradise. If you are a resident of one of these states, call your congressman and tell them to change the regulations.</p></div>
		</div>
		<div class="social">
				<div class="icons">
								<a href="#"><i class="fab fa-facebook-square pad"></i></a>
								<a href="#"></a><i class="fab fa-instagram pad"></i></a>
								<a href="#"></a><i class="fab fa-twitter-square pad"></i></a>
								<a href="#"></a><i class="fab fa-youtube-square pad"></i></a>
								<a href="#"></a><i class="fab fa-pinterest-square pad"></i></a>

				</div>
		</div>
		<div class="copyright">
						&#169; 2019 Ben Dixon 
		</div>
</footer>
	
	
	
	
<script src="js/menuToggle.js"></script>
	
<script type="text/javascript">
$(document).ready(function(){
  $('.slider').slick({
    dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
  });
});

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
  </script>
	


</body>
</html>
