/* CSS Document */

$font: #0480b1;
$secondaryFont: #fdd831;
$thirdFont: #a8a8b2;
$primaryColor: $font;

$mainFont: 'Avira', sans-serif;
$maxWidth: 1200px;
$hero-height: 60vh;
$gutter: 2%;
$gutterDbl: (2 * $gutter);

@font-face {
	font-family: "Avenir";
	src: url(../fonts/AvenirLTStd-Roman.otf);
}

@mixin gradient($startColor, $endColor){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100 */
background: $startColor; /* Old browsers */
background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $startColor 0%,$endColor 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, $startColor 0%,$endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 ); /* IE6-9 */
}