
#primaryNav li.menu-item:hover {background-color: #D46D6F}
#primaryNav li.current-menu-item a{background-color: #137493}
#primaryNav li.menu-item-has-children:hover {background-color: #D46D6F}
#primaryNav li.menu-item-has-children{
	 float: left;
	overflow: hidden;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: inherit;
	
	
}

#primaryNav li ul.sub-menu 
{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 49px 0;
}

#primaryNav li ul.sub-menu a {
	float: none;
	color: #282828;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#primaryNav li ul.sub-menu a:hover {
	background-color: #ddd;
	color: #282828;
}

#primaryNav li.menu-item-has-children:hover ul.sub-menu {
	display: block;
}



.topnav {
	overflow: hidden;
	background-color: #c62957;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 90%;
	 height: 49px;
  }
  
  .topnav a.active {
	background-color: #137493;
	color: white !important;
  }
  
  .topnav .icon {
	display: none;
  }
  
//  #primaryNav li.menu-item-has-children {
//	float: left;
//	overflow: hidden;
//  }
//  
//  
//  #primaryNav li.menu-item-has-children #primaryNav.menu-item-has-children a {
//	font-size: 90%;    
//	border: none;
//	outline: none;
//	color: white;
//	padding: 16px 16px;
//	background-color: inherit;
//	font-family: inherit;
//	margin: 0;
//  }
//  
//  #primaryNav li ul.sub-menu{
//	display: none;
//	position: absolute;
//	background-color: #f9f9f9;
//	min-width: 160px;
//	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//	z-index: 1;
//  }
//  
//  #primaryNav li ul.sub-menu a{
//	float: none;
//	color: #282828;
//	padding: 12px 16px;
//	text-decoration: none;
//	display: block;
//	text-align: left;
//  }
//  
//  .topnav a:hover, #primaryNav li.menu-item-has-children:hover #primaryNav.menu-item-has-children a{
//	background-color: #C8C8C8;
//	color: #282828;
//  }
//  
//  #primaryNav li ul.sub-menu a:hover {
//	background-color: #ddd;
//	color: #282828;
//  }
//  
//  #primaryNav li.menu-item-has-children:hover #primaryNav li ul.sub-menu {
//	display: block;
//  }
  .search { 
	margin-top: 8px;
	float: right;
  }
  
  input {
	padding: 9px;
  }
  
  #search {
	  border: 1px solid #ccc;
	  padding: 15px 9px 6px 9px;
	  width: 150px;
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  transition: all .5s ease;
  }
  
  #search:focus {
	  width: 300px;
  }
	.mySearch {
	  padding: 3px 5px 5px 3px;
	  
	  background-color:#C8C8C8;
	  color: #484848;
	} 
  
  textarea, select, input, button { outline: none; }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child),  .dropdown .dropbtn  {
	  display: none;
	}
	.topnav a.icon {
	  float: left;
	  display: block;
	}
	
	input {
	padding: 9px;
	  
  }
	.search {
	  margin-bottom: 8px;
	  
	}
	
	#search {
	 
	  border: 1px solid #ccc;
	  border-radius: unset;
	  width: 13rem;
	  -webkit-transition: all .5s ease;
	  -moz-transition: all .5s ease;
	  transition: all .5s ease;
  }
	
  #search:focus {
	  width: 16rem;
  }
	  .mySearch {
	  margin-left: -5px;
	  padding: 3px 5px 6px 3px;
	  background-color:#C8C8C8;
	  color: #484848;
	  margin-right: 10px;
	} 
  }
  
  @media screen and (max-width: 600px) {
	   .search-container {
	   display: none; 
	  } 
	.topnav a { display: none; }
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  left: 0;
	  top: 0;
	  padding-right: 25px;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: center;
	}
	.topnav.responsive #primaryNav li.menu-item-has-children  {float: none;}
	.topnav.responsive #primaryNav li ul.sub-menu  {position: relative;}
	.topnav.responsive #primaryNav li.menu-item-has-children #primaryNav.menu-item-has-children a   {
	  display: block;
	  width: 100%;
	  text-align: center;
	}
	  

}